<app-close-button></app-close-button>
<div class="wrap">
  <div class="perspective">
    <div class="book-wrap">
      <div class="book book-1">
        <div class="text-front">
          <h1 class='mainTitle info'>{{this.book.title}}</h1>
          <h4 class='author info'>{{this.book.author}}</h4>
        </div>
      </div>
      <div class="title book-1"></div>
      <div class="book-back book-1">
        <div class="text">
          <!-- put the real book title here:  -->
          <h3>{{this.book.title}}</h3>
          <p><span>{{this.book.description}}</span></p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-all-reviews [bookId]="this.book.id"></app-all-reviews>
