footer { 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #5D8660;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    
}

div {
    font-size: 1rem;
    color: white;
}