@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  text-transform: uppercase;
  border-top: 1px solid black;
  margin-left: 1rem;
  margin-right: 1rem;
  /* letter-spacing: 0.1rem; */

  padding: 10px 0;
  margin-top: 65px;
}

.line {
  font-family: 'Open Sans', sans-serif;
  padding-left: 1em;
  margin-top: 3px;
  font-size: 1rem;
  color: black;
}

img {
  width: 7em;
  margin-right: 2em;
}

.angular {
  width: 4em;
}

@media only screen and (max-width: 600px) {
  img {
    display: none;
  }
}
