footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #5d8660;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

div {
  padding-left: 1em;
  font-size: 1rem;
  color: black;
}
img{
  width: 10em;
  margin-right: 2em;
}
.angular{
  width: 5em;
}
