<footer>
  <div class="info">
    <div class="line">Developers: Georgi Krastev , Gergana Tsvetkova</div>
    <div class="line">Contact us ( +359 87 863 49 29 )</div>
    <div class="line">Copyright (2019) . All rights reserved</div>
  </div>
  <div class="tech" align="right">
    <img src="../../../assets/icons/gmail.svg">
    <img src="../../../assets/icons/fb.svg">
    <img src="../../../assets/icons/insta.svg">
    <img src="../../../assets/icons/twitter.svg">
    <!-- <img class="angular" src="../../../assets/imgs/angular.png"> -->
  </div>
</footer>
