footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: none;
  text-transform: uppercase;
  letter-spacing: 0.15rem;

  padding: 15px 0;
  margin-top: 65px;
}

div {
  padding-left: 1em;
  font-size: 1rem;
  color: black;
}
img{
  width: 7em;
  margin-right: 2em;
}
.angular{
  width: 4em;
}

@media only screen and (max-width: 600px) {

  img {
    display: none;
  }

}