<nav>
    <img class="logo" src="../../../../assets/imgs/copy.png">
    <app-search></app-search>
    <div class="logged">
        <div class="menu1">
            <div class="menu">
                My books
                <i class="material-icons">
                        arrow_drop_down
                    </i>
            </div>
            <div class="dropdown">
            <button class="borrowed">Borrowed</button>
            <button class="rated">Rated</button>
            <button class="reviewed">Reviewd</button>
            </div>
        </div >
        <div class="logout-container">
            <button class="logout">
                Logout<i class="material-icons" >exit_to_app</i>
            </button>
        </div>
    </div>
    <div class="not-logged">
        <button class="login" (click)=onLogin()><object type="image/svg+xml" data="../../../../assets/icons/user.svg" class="login-icon" ></object>Login</button>
    <button class="register" (click)=onRegister()><object type="image/svg+xml" data="../../../../assets/icons/register.svg" class="register-icon"></object>Register</button>
</div>
</nav>
