<nav>
  <a [routerLink]="['home']"><img class="logo" src="../../../../assets/imgs/copy.png" /></a>
  <ng-template [ngIf]="loggedIn">
    <app-search></app-search>
    <div class="logged">
      <div class="menu1">
        <button [routerLink]="['books']">All Books</button>
        <div class="menu">
          My books
          <i class="material-icons">
            arrow_drop_down
          </i>
        </div>
        <div class="dropdown">
          <button class="borrowed">Borrowed</button>
          <button class="rated">Rated</button>
          <button class="reviewed">Reviewd</button>
        </div>
      </div>
      <div class="logout-container">
        <button class="logout" (click)="this.onLogout()">
          Logout<i class="material-icons">exit_to_app</i>
        </button>
      </div>
    </div>
  </ng-template>
  <ng-template [ngIf]="!loggedIn">
    <div class="not-logged">
      <button class="login" (click)="onLogin()">
        <object type="image/svg+xml" data="../../../../assets/icons/user.svg" class="login-icon"></object>Login
      </button>
      <button class="register" (click)="onRegister()">
        <object type="image/svg+xml" data="../../../../assets/icons/register.svg"
          class="register-icon"></object>Register
      </button>
    </div>
  </ng-template>
</nav>
