<div class="register-form">
        <app-close-button></app-close-button>
        <img class="logo" src="../../assets/imgs/copy.png">
        <div class="welcome">Sign up</div>
        <form>
            <div class="username">
                <input type="text" class="username-input" placeholder="Username" >
                <i class="material-icons">
                    account_box
                </i>
            </div>
            <div class="password">
                <input type="password" class="password-input" placeholder="Password">
                <i class="material-icons">
                        vpn_key
                </i>
            </div>
            <div class="password">
                    <input type="password" class="password-input" placeholder="Repeat password">
                    <i class="material-icons">
                            vpn_key
                    </i>
            </div>
            <div class="email">
                    <input type="text" class="email-input" placeholder="Email">
                    <i class="material-icons">
                            email
                    </i>
            </div>
            <button type="submit">
                Create an account
            </button>
            <div class="register-footer">
                    <span>Already have an account?</span>
                    <span class="sent-to-login">Sign in</span>
                </div>
        </form>
    </div>
    