<div class="review-container">
    <div class="user">{{ review.user.username }}</div>
    <div class="timestamp">{{ review.createdOn | date  }}</div>
    <div class="content">
        {{ review.content }}
        </div>
    <div class="footer">
        <div>
        <button *ngIf=this.isReviewOwner class="edit-button" (click)=this.toggleEditButton()>Edit</button>
        <button *ngIf=this.isReviewOwner class="edit-button" (click)=this.deleteReview()>Delete</button>
        </div>      
        <div class="votes">
            <i (click)=this.likeReview() class="material-icons" *ngIf=!this.myvotes.liked>
                star_border
            </i>
            <i (click)=this.likeReview() class="material-icons" *ngIf=this.myvotes.liked>
                    star
                </i>
            <span class="likes-count">{{ this.votes.likes }}</span>
            <i (click)=this.flagReview() class="material-icons" *ngIf=!this.myvotes.flagged>
                outlined_flag
            </i>
            <i (click)=this.flagReview() class="material-icons" *ngIf=this.myvotes.flagged>
                    flag
                </i>
            <span class="flags-count">{{ this.votes.flags }}</span>
        </div>
    </div>
    <div class="edit-section" *ngIf=this.show>
        <textarea class="edit-field" [(ngModel)]="this.updatedReview"></textarea>
        <button *ngIf=this.isReviewOwner class="edit-button" (click)=this.toggleEditButton();this.updateReview()>Post</button>
    </div>
</div>