* {
  overflow-x: hidden;
}

.title {
  /* margin: 0 auto; */
  left: 50%;
  right: 50%;
  font-size: 1.3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: center;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

.books-container {
  overflow: scroll; /* maybe useless */
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.book-item {
  margin-bottom: 30px;
  text-align: center;
}
